body {
background-color: white;
}
header {
    display: flex;
    width: 100%;
    height: 18px;
}
.logo img {
    height: 55px;
    width: 55px;
    align-self: center;
    margin-left: 10px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: white;
}
nav ul {
    margin-left: 830px;
    margin-top: 20px;
}
nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    float: left;
    margin-right: 16px;
    font-size: 20px;
    justify-content: end;
}
html {
    scroll-behavior: smooth;
}
header a:hover{
    color: darkgoldenrod;
    font-size: 21px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 32px;
}

main {
    background-image: url("https://i.imgur.com/Mgt652l.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
}
.main-intro h3{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font-size: 36px;
    margin-right: 370px;
    color: darkgoldenrod;
    margin-bottom: 0;
}
.main-intro h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 58px;
}
.main-intro a {
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.main-intro a:hover {
    font-size: 30px;
    color: darkgoldenrod;
}
.intro {
    margin-left: 32px;
    margin-top: 60px;
}
.intro h2 {
    margin-left: 140px;
    font-size: 40px;
}
.intro p {
    margin-right: 100px;
    max-width: 500px;
    margin-top: 40px;
}
.information{
    display: flex;
    flex-direction: row;
}
.info-about-me {
    display: flex;
}
.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin-right: 100px;

}
.school-list{
    background-color: #cddcd1;
    width: 250px;
    height: 300px;
    border: 8px black;
    padding: 25px;
    margin: 10px;
    border-radius: 12px;
}
.school-list h5{
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}
.workplaces {
    background-color: #cddcd1;
    width: 250px;
    height: 300px;
    border: 8px black;
    padding: 25px;
    margin: 10px;
    border-radius: 12px;
}
.workplaces h5{
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}
.lists ul li {
    padding-bottom: 10px;
}
.lists a:hover {
    color: darkgoldenrod;
    font-size: 17px;
}
.project h2 {
    margin-left: 160px;
    font-size: 40px;
    margin-top: 140px;
}
.project p {
    margin-left: 160px;
    margin-bottom: 140px;
}
.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #cddcd1;
    width: 1300px;
    padding: 20px;
    margin: 30px;
    border-radius: 12px;
}
.flower {
    margin-right: 50px;
}
.contact-me {
    margin-left: 30px;
}
.contact-me p {
    font-size: 17px;
}
h6 {
    font-size: 20px;
    margin-bottom: 26px;
    margin-top: 20px;
}
.contact-me img{
    margin-right: 10px;
}
footer a:hover {
    font-size: 18px;
    color: darkgoldenrod;
}

/*Making it phone-friendly*/
@media only screen and (max-width: 600px) {
    .main-intro h3{
        width: 100%;
    }
    .intro {
        width: 80%;
        align-items: flex-end;

        font-size: 12px;
    }
     .intro h2 {
        text-align: start;
         font-size: 22px;
         margin-left: 0;
    }
    .logo img {
        margin-left: 0;
    }
    nav ul {
        display: none;
    }
    .lists{
       flex-direction: column;
        width: 100%;
    }
    .intro img {
        max-width: 50%;
        max-height: 20%;
    }



}


